.login-container {
  width: 700px;
  height: 429px;
  background-color: #daf2f4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.header {
  width: 710px;

  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 68px;
  color: #162b2a;
  text-align: center;
}

/* Narrow text field */
.narrow-textfield {
  width: 395px;
  height: 26px;
  overflow-y: scroll;
  background: #fff7f7;
  border: 3px solid #91acab;
  box-sizing: border-box;
  border-radius: 10px;
  /* Inside auto layout */
  flex: none;

  flex-grow: 0;
  margin-left: 40%;
}
